.btn {
  outline: none;
  border: none;
  color: var(--primary);
  background-color: transparent;
  cursor: pointer;
  margin: 0 5px;
  font-size: 10px;
  font-weight: 900;
}

.active {
  opacity: 0.3;
}

.title {
  border: none;
  outline: none;
  margin: 10px 0;
  font-size: larger;
  width: 200px;
}

.menu2 {
  padding: 25px 0;
}

.checkbox {
  margin-right: 5px;
}

.label {
  font-size: large;
  font-weight: 700;
}
