.picsum {
  padding: 16px 0;
}

.pixum-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}

.picsum-image {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
}

.image-container {
  position: relative;
  margin-bottom: 5px;
}

.add-album {
  width: 100%;
  height: 35px;
  background-color: var(--primary);
  color: var(--white);
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

#image-container:hover .hidden {
  display: block;
}
